@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.3333;
  --text-xs--font-family: Geist;
  --text-xs--font-weight: 400;
  --text-xs--letter-spacing: 0em;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.4286;
  --text-sm--font-family: Geist;
  --text-sm--font-weight: 400;
  --text-sm--letter-spacing: 0em;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-base--font-family: Geist;
  --text-base--font-weight: 400;
  --text-base--letter-spacing: 0em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5556;
  --text-lg--font-family: Geist;
  --text-lg--font-weight: 400;
  --text-lg--letter-spacing: 0em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;
  --text-xl--font-family: Geist;
  --text-xl--font-weight: 400;
  --text-xl--letter-spacing: 0em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.3333;
  --text-2xl--font-family: Geist;
  --text-2xl--font-weight: 400;
  --text-2xl--letter-spacing: 0em;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--font-family: Geist;
  --text-3xl--font-weight: 400;
  --text-3xl--letter-spacing: 0em;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.1111;
  --text-4xl--font-family: Geist;
  --text-4xl--font-weight: 400;
  --text-4xl--letter-spacing: 0em;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--font-family: Geist;
  --text-5xl--font-weight: 400;
  --text-5xl--letter-spacing: 0em;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-6xl--font-family: Geist;
  --text-6xl--font-weight: 400;
  --text-6xl--letter-spacing: 0em;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-7xl--font-family: Geist;
  --text-7xl--font-weight: 400;
  --text-7xl--letter-spacing: 0em;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-8xl--font-family: Geist;
  --text-8xl--font-weight: 400;
  --text-8xl--letter-spacing: 0em;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --text-9xl--font-family: Geist;
  --text-9xl--font-weight: 400;
  --text-9xl--letter-spacing: 0em;
  --spacing-scale: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-multi-value: 4 * 2 4 * 2 * 2 * 2 * 2;
  --radius-sm: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-multi-value: 4 8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
  --color-red-100: #fff5f5;
  --color-red-200: #fed7d7;
  --color-red-300: #feb2b2;
  --color-red-400: #fc8181;
  --color-red-500: #f56565;
  --color-red-600: #e53e3e;
  --color-red-700: #c53030;
  --color-red-800: #9b2c2c;
  --color-red-900: #742a2a;
  --color-orange-100: #fffaf0;
  --color-orange-200: #feebc8;
  --color-orange-300: #fbd38d;
  --color-orange-400: #f6ad55;
  --color-orange-500: #ed8936;
  --color-orange-600: #dd6b20;
  --color-orange-700: #c05621;
  --color-orange-800: #9c4221;
  --color-orange-900: #7b341e;
  --color-yellow-100: #fffff0;
  --color-yellow-200: #fefcbf;
  --color-yellow-300: #faf089;
  --color-yellow-400: #f6e05e;
  --color-yellow-500: #ecc94b;
  --color-yellow-600: #d69e2e;
  --color-yellow-700: #b7791f;
  --color-yellow-800: #975a16;
  --color-yellow-900: #744210;
  --color-green-100: #f0fff4;
  --color-green-200: #c6f6d5;
  --color-green-300: #9ae6b4;
  --color-green-400: #68d391;
  --color-green-500: #48bb78;
  --color-green-600: #38a169;
  --color-green-700: #2f855a;
  --color-green-800: #276749;
  --color-green-900: #22543d;
  --color-teal-100: #e6fffa;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #38b2ac;
  --color-teal-600: #319795;
  --color-teal-700: #2c7a7b;
  --color-teal-800: #285e61;
  --color-teal-900: #234e52;
  --color-blue-100: #ebf8ff;
  --color-blue-200: #bee3f8;
  --color-blue-300: #90cdf4;
  --color-blue-400: #63b3ed;
  --color-blue-500: #4299e1;
  --color-blue-600: #3182ce;
  --color-blue-700: #2b6cb0;
  --color-blue-800: #2c5282;
  --color-blue-900: #2a4365;
  --color-indigo-100: #ebf4ff;
  --color-indigo-200: #c3dafe;
  --color-indigo-300: #a3bffa;
  --color-indigo-400: #7f9cf5;
  --color-indigo-500: #667eea;
  --color-indigo-600: #5a67d8;
  --color-indigo-700: #4c51bf;
  --color-indigo-800: #434190;
  --color-indigo-900: #3c366b;
  --color-purple-100: #faf5ff;
  --color-purple-200: #e9d8fd;
  --color-purple-300: #d6bcfa;
  --color-purple-400: #b794f4;
  --color-purple-500: #9f7aea;
  --color-purple-600: #805ad5;
  --color-purple-700: #6b46c1;
  --color-purple-800: #553c9a;
  --color-purple-900: #44337a;
  --color-pink-100: #fff5f7;
  --color-pink-200: #fed7e2;
  --color-pink-300: #fbb6ce;
  --color-pink-400: #f687b3;
  --color-pink-500: #ed64a6;
  --color-pink-600: #d53f8c;
  --color-pink-700: #b83280;
  --color-pink-800: #97266d;
  --color-pink-900: #702459;
  --opacity-low: 0.1;
  --opacity-md: 0.5;
  --opacity-high: 0.9;
  --font-heading: Inter;
  --font-body: Roboto;
  --font-geist: Geist;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --leading-0: 16;
  --leading-1: 16;
  --leading-2: 16;
  --leading-3: 16;
  --leading-4: 16;
  --leading-5: 16;
  --leading-6: 16;
  --leading-7: 16;
  --leading-8: 16;
  --leading-9: 16;
  --leading-10: 16;
  --leading-11: 16;
  --leading-12: 1;
  --leading-13: 1;
  --leading-14: 1;
  --leading-15: 1;
  --leading-16: 1;
  --leading-17: 1;
  --leading-18: 1;
  --leading-19: 1;
  --leading-20: 1;
  --leading-21: 1;
  --leading-22: 1;
  --leading-23: 1;
  --leading-24: 20;
  --leading-25: 20;
  --leading-26: 20;
  --leading-27: 20;
  --leading-28: 20;
  --leading-29: 20;
  --leading-30: 20;
  --leading-31: 20;
  --leading-32: 20;
  --leading-33: 20;
  --leading-34: 20;
  --leading-35: 20;
  --leading-36: 20;
  --leading-37: 1;
  --leading-38: 1;
  --leading-39: 1;
  --leading-40: 1;
  --leading-41: 1;
  --leading-42: 1;
  --leading-43: 1;
  --leading-44: 1;
  --leading-45: 1;
  --leading-46: 1;
  --leading-47: 1;
  --leading-48: 1;
  --leading-49: 24;
  --leading-50: 24;
  --leading-51: 24;
  --leading-52: 24;
  --leading-53: 24;
  --leading-54: 24;
  --leading-55: 24;
  --leading-56: 24;
  --leading-57: 24;
  --leading-58: 24;
  --leading-59: 24;
  --leading-60: 24;
  --leading-61: 24;
  --leading-62: 1;
  --leading-63: 1;
  --leading-64: 1;
  --leading-65: 1;
  --leading-66: 1;
  --leading-67: 1;
  --leading-68: 1;
  --leading-69: 1;
  --leading-70: 1;
  --leading-71: 1;
  --leading-72: 1;
  --leading-73: 1;
  --leading-74: 28;
  --leading-75: 28;
  --leading-76: 28;
  --leading-77: 28;
  --leading-78: 28;
  --leading-79: 28;
  --leading-80: 28;
  --leading-81: 28;
  --leading-82: 28;
  --leading-83: 28;
  --leading-84: 28;
  --leading-85: 28;
  --leading-86: 1;
  --leading-87: 1;
  --leading-88: 1;
  --leading-89: 1;
  --leading-90: 1;
  --leading-91: 1;
  --leading-92: 1;
  --leading-93: 1;
  --leading-94: 1;
  --leading-95: 1;
  --leading-96: 1;
  --leading-97: 1;
  --leading-98: 28;
  --leading-99: 28;
  --leading-100: 28;
  --leading-101: 28;
  --leading-102: 28;
  --leading-103: 28;
  --leading-104: 28;
  --leading-105: 28;
  --leading-106: 28;
  --leading-107: 28;
  --leading-108: 28;
  --leading-109: 28;
  --leading-110: 1;
  --leading-111: 1;
  --leading-112: 1;
  --leading-113: 1;
  --leading-114: 1;
  --leading-115: 1;
  --leading-116: 1;
  --leading-117: 1;
  --leading-118: 1;
  --leading-119: 1;
  --leading-120: 1;
  --leading-121: 1;
  --leading-122: 32;
  --leading-123: 32;
  --leading-124: 32;
  --leading-125: 32;
  --leading-126: 32;
  --leading-127: 32;
  --leading-128: 32;
  --leading-129: 32;
  --leading-130: 32;
  --leading-131: 32;
  --leading-132: 32;
  --leading-133: 32;
  --leading-134: 1;
  --leading-135: 1;
  --leading-136: 1;
  --leading-137: 1;
  --leading-138: 1;
  --leading-139: 1;
  --leading-140: 1;
  --leading-141: 1;
  --leading-142: 1;
  --leading-143: 1;
  --leading-144: 1;
  --leading-145: 1;
  --leading-146: 36;
  --leading-147: 36;
  --leading-148: 36;
  --leading-149: 36;
  --leading-150: 36;
  --leading-151: 36;
  --leading-152: 36;
  --leading-153: 36;
  --leading-154: 36;
  --leading-155: 36;
  --leading-156: 36;
  --leading-157: 36;
  --leading-158: 1;
  --leading-159: 1;
  --leading-160: 1;
  --leading-161: 1;
  --leading-162: 1;
  --leading-163: 1;
  --leading-164: 1;
  --leading-165: 1;
  --leading-166: 1;
  --leading-167: 1;
  --leading-168: 1;
  --leading-169: 1;
  --leading-170: 40;
  --leading-171: 40;
  --leading-172: 40;
  --leading-173: 40;
  --leading-174: 40;
  --leading-175: 40;
  --leading-176: 40;
  --leading-177: 40;
  --leading-178: 40;
  --leading-179: 40;
  --leading-180: 40;
  --leading-181: 40;
  --leading-182: 1;
  --leading-183: 1;
  --leading-184: 1;
  --leading-185: 1;
  --leading-186: 1;
  --leading-187: 1;
  --leading-188: 1;
  --leading-189: 1;
  --leading-190: 1;
  --leading-191: 1;
  --leading-192: 1;
  --leading-193: 1;
  --leading-194: 48;
  --leading-195: 48;
  --leading-196: 48;
  --leading-197: 48;
  --leading-198: 48;
  --leading-199: 48;
  --leading-200: 48;
  --leading-201: 48;
  --leading-202: 48;
  --leading-203: 48;
  --leading-204: 48;
  --leading-205: 48;
  --leading-206: 1;
  --leading-207: 1;
  --leading-208: 1;
  --leading-209: 1;
  --leading-210: 1;
  --leading-211: 1;
  --leading-212: 1;
  --leading-213: 1;
  --leading-214: 1;
  --leading-215: 1;
  --leading-216: 1;
  --leading-217: 60;
  --leading-218: 60;
  --leading-219: 60;
  --leading-220: 60;
  --leading-221: 60;
  --leading-222: 60;
  --leading-223: 60;
  --leading-224: 60;
  --leading-225: 60;
  --leading-226: 60;
  --leading-227: 60;
  --leading-228: 1;
  --leading-229: 1;
  --leading-230: 1;
  --leading-231: 1;
  --leading-232: 1;
  --leading-233: 1;
  --leading-234: 1;
  --leading-235: 1;
  --leading-236: 1;
  --leading-237: 1;
  --leading-238: 1;
  --leading-239: 72;
  --leading-240: 72;
  --leading-241: 72;
  --leading-242: 72;
  --leading-243: 72;
  --leading-244: 72;
  --leading-245: 72;
  --leading-246: 72;
  --leading-247: 72;
  --leading-248: 72;
  --leading-249: 72;
  --leading-250: 1;
  --leading-251: 1;
  --leading-252: 1;
  --leading-253: 1;
  --leading-254: 1;
  --leading-255: 1;
  --leading-256: 1;
  --leading-257: 1;
  --leading-258: 1;
  --leading-259: 1;
  --leading-260: 1;
  --leading-261: 96;
  --leading-262: 96;
  --leading-263: 96;
  --leading-264: 96;
  --leading-265: 96;
  --leading-266: 96;
  --leading-267: 96;
  --leading-268: 96;
  --leading-269: 96;
  --leading-270: 96;
  --leading-271: 96;
  --leading-272: 1;
  --leading-273: 1;
  --leading-274: 1;
  --leading-275: 1;
  --leading-276: 1;
  --leading-277: 1;
  --leading-278: 1;
  --leading-279: 1;
  --leading-280: 1;
  --leading-281: 1;
  --leading-282: 1;
  --leading-283: 128;
  --leading-284: 128;
  --leading-285: 128;
  --leading-286: 128;
  --leading-287: 128;
  --leading-288: 128;
  --leading-289: 128;
  --leading-290: 128;
  --leading-291: 128;
  --leading-292: 128;
  --leading-293: 128;
  --leading-294: 1;
  --leading-295: 1;
  --leading-296: 1;
  --leading-297: 1;
  --leading-298: 1;
  --leading-299: 1;
  --leading-300: 1;
  --leading-301: 1;
  --leading-302: 1;
  --leading-303: 1;
  --leading-304: 1;
  --leading-305: 32;
  --leading-306: 40;
  --leading-307: 48;
  --leading-308: 60;
  --leading-309: 1.1;
  --leading-310: 1.1;
  --leading-311: 1.1;
  --leading-312: 1.1;
  --leading-313: 1.1;
  --leading-heading: 1.1;
  --leading-body: 1.4;
  --tracking-0: 0em;
  --tracking-1: -0.6px;
  --tracking-2: -0.9px;
  --tracking-3: -1.2px;
  --tracking-4: -1.5px;
  --tracking-5: -0.05em;
  --tracking-default: 0px;
  --tracking-increased: 1.5em;
  --tracking-decreased: -0.05em;
  --spacing-0: 0rem;
  --spacing-1: 1.625rem;
  --spacing-2: 2rem;
  --spacing-h1: 2rem;
  --spacing-h2: 1.625rem;
  --font-weight-heading-regular: 400;
  --font-weight-heading-bold: 700;
  --font-weight-body-regular: 400;
  --font-weight-body-bold: 700;
  --font-weight-geist-0: 200;
  --font-weight-geist-1: 300;
  --font-weight-geist-2: 400;
  --font-weight-geist-3: 500;
  --font-weight-geist-4: 600;
  --font-weight-geist-5: 700;
  --font-weight-geist-6: 900;
  --font-weight-geist-7: 800;
  --font-weight-roboto-8: 400;
  --font-weight-inter-9: 700;
  --font-weight-inter-10: 400;
  --text-h1: 3.0625rem;
  --text-h2: 2.4375rem;
  --text-h3: 1.9375rem;
  --text-h4: 1.5625rem;
  --text-h5: 1.25rem;
  --text-h6: 1rem;
  --text-body: 1rem;
  --text-decoration-underline: underline;
  --text-decoration-line-through: line-through;
  --color-fg-default: #ffffff;
  --color-fg-muted: #e2e8f0;
  --color-fg-subtle: #a0aec0;
  --color-bg-default: #1a202c;
  --color-bg-muted: #4a5568;
  --color-bg-subtle: #718096;
  --color-accent-default: #5a67d8;
  --color-accent-on-accent: #ffffff;
  --color-accent-bg: #434190;
  --color-shadows-default: rgb(0 0 0 / 0.3);
  --color-button-primary-background: #5a67d8;
  --color-button-primary-text: #ffffff;
  --spacing-button-border-radius: 0.5rem;
  --spacing-button-border-width: 0.5rem;
  --spacing-card-border-radius: 0.5rem;
  --color-card-background: #1a202c;
  --spacing-card-padding: 1rem;

  --shadow-default: 5px 5px 5px 3px rgba({
    shadows.default
  }

  , 0.15),
inset 4px 4px 5px 6px rgb(0 0 0 / 0.2);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}